Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      - id: solidity-slither
        name: "run slither"
        entry: /usr/bin/env bash -c "cd solidity && slither --hardhat-ignore-compile ."
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Runs Slither static analysis on Solidity files"
      # dApp
      - id: dapp-lint-eslint
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Use `_getCompositeDebt` instead of inline calculation
  solidity/contracts/BorrowerOperations.sol
Due: none

Move promotions to main body of work
  docs/rfc-microloans.md
Due: root-lint

Change interest collection mechanism to a spread
  docs/rfc-microloans.md
Due: root-lint

Add open question on redemptions against the main trove
  docs/rfc-microloans.md
Due: root-lint

Add section on fee management
  docs/rfc-microloans.md
Due: root-lint

Draft section on redemption risk
  docs/rfc-microloans.md
Due: root-lint

Modify redemption risk section to include potential mitigations
  docs/rfc-microloans.md
Due: root-lint

Edit redemption risk section to be more concise
  docs/rfc-microloans.md
Due: root-lint

Add details and test vectors for redemptions
  docs/rfc-microloans.md
Due: root-lint

Remove answered open questions
  docs/rfc-microloans.md
Due: root-lint

Deployment script for the Microloans contract
  solidity/deploy/34_deploy_microloans.ts
  solidity/helpers/deploy-helpers.ts
Due: solidity-lint-ts

Basic test structure for Microloans contract
  solidity/test/helpers/context.ts
  solidity/test/helpers/interfaces.ts
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Basic Microloans.openMainTrove implementation
  solidity/contracts/Microloans.sol
Due: none

Properly initialize Microloans owner and emit openMainTrove event
  solidity/contracts/Microloans.sol
Due: none

Fix default ICR value in comment for test helper openTrove function
  solidity/test/helpers/functions.ts
Due: solidity-lint-ts

Established TroveStatus enum for tests
  solidity/test/helpers/abi.ts
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Place contract fields before events
  solidity/contracts/Microloans.sol
Due: none

Extract collateral calculation into a separate test helper function
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Simplified Microloans unit tests for openMainTrove
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Refactored Microloans.openMainTrove test to follow RFC-1 test vectors
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Added missing await when fetching max borrower capacity in test
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Reserve a storage gap for future upgrades
  solidity/contracts/Microloans.sol
Due: none

Draft of the openMicroTrove function
  solidity/contracts/Microloans.sol
  solidity/deploy/34_deploy_microloans.ts
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Add main trove liquidation response
  docs/rfc-microloans.md
Due: root-lint

Add section for governance structure
  docs/rfc-microloans.md
Due: root-lint

Add section on minimum cr
  docs/rfc-microloans.md
Due: root-lint

Use TestingAddresses struct in Microloans unit tests
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Fix tested function name in Microloans test describe
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

Group expected reverts for Microloans.openMainTrove under one context
  solidity/test/normal/Microloans.test.ts
Due: solidity-lint-ts

RFC-2: Lending Arbitrage Microloans
  docs/rfc/rfc-2
Due: root-lint

Move RFC-1: Microloans to docs/rfc directory
  docs/rfc/rfc-1.md
  docs/rfc/rfc-2.md
Due: root-lint

Add a note about RFC-1 being superseded by RFC-2
  docs/rfc/rfc-1.md
Due: root-lint

Fix math for Test Vector 10
  docs/rfc/rfc-1.md
Due: root-lint

Fix rfc-1 math explanation
  docs/rfc/rfc-1.md
Due: root-lint

Add test vector for a large redemption
  docs/rfc/rfc-1.md
Due: root-lint

Add overall net position after large redemption
  docs/rfc/rfc-1.md
Due: root-lint

Clarify net position after large redemption
  docs/rfc/rfc-1.md
Due: root-lint

Replace CR management based strategies with collateral replacement
  docs/rfc/rfc-1.md
Due: root-lint

Include initial collateral in redemption shortfall scenario
  docs/rfc/rfc-1.md
Due: root-lint

Add test vector for collateral shortfall scenario
  docs/rfc/rfc-1.md
Due: root-lint
