Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      - id: solidity-slither
        name: "run slither"
        entry: /usr/bin/env bash -c "cd solidity && slither --hardhat-ignore-compile ."
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Runs Slither static analysis on Solidity files"
      # dApp
      - id: dapp-lint-eslint
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Slither-ignore reentrancy warning
  solidity/contracts/PCV.sol
Due: none

Update docs to reflect BTC withdrawal changes from PCV
  docs/README.md
  docs/rebalancing.md
Due: root-lint

Testnet PCV upgrade artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet/PCV.json
Due: solidity-lint-config

Mainnet PCV upgrade artifacts
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/PCV.json
Due: solidity-lint-config

Version bump to 1.1.1
  solidity/package.json
Due: solidity-lint-config

Add a security policy pointing at the Cantina bounty
  SECURITY.md
Due: root-lint
