Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-eslint:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

for -> is
  docs/README.md
Due: root-lint

Clarify impact on active borrowers when a liquidation exceeds SP balance
  docs/README.md
Due: root-lint

Add clarification to pending debt application timing
  docs/README.md
Due: root-lint

Remove mention of changing min net debt amount
  docs/README.md
Due: root-lint

Redemptions go to TroveManager instead of BorrowerOperations
  docs/README.md
Due: root-lint

Clarify gas compensation is burnt
  docs/README.md
Due: root-lint

Correct risk count
  docs/README.md
Due: root-lint

Fix redemption risk numbers
  docs/README.md
Due: root-lint

Add presentation outline draft
  presentation-outline.md
Due: root-lint

Fix slide flow
  presentation-outline.md
Due: root-lint

Add demo file and update presentation
  hackathon-presentation.md
  hackathon-presentation.pdf
  solidity/test/normal/Demo.test.ts
Due: root-lint, solidity-lint-ts

Set interest rate to 0 for demo to make math easier to follow
  solidity/test/normal/Demo.test.ts
Due: solidity-lint-ts

Add a few code examples to slides
  hackathon-presentation.md
Due: root-lint

WIP - formatting
  hackathon-presentation.html
  hackathon-presentation.md
Due: root-lint

Add more slides
  final-presentation.md
  quick-outline.org
  slidesDraft.md
  test-marp.org
Due: root-lint

Regenerate from new notes
  final-presentation.html
  final-presentation.md
Due: root-lint

Replace visual placeholders
  final-presentation.html
  final-presentation.md
Due: root-lint

Quick edits
  solidity/test/normal/Demo.test.ts
Due: solidity-lint-ts

Make examples sub bullets
  final-presentation.html
  final-presentation.md
Due: root-lint

Small edits
  final-presentation.html
  final-presentation.md
Due: root-lint

Small RM cleanup
  final-presentation.html
  final-presentation.md
Due: root-lint

Move critical integration concepts forward
  final-presentation.html
  final-presentation.md
Due: root-lint

Comment on maxIterations and fix caps
  final-presentation.html
  final-presentation.md
  solidity/test/normal/Demo.test.ts
Due: root-lint, solidity-lint-ts

Add demo test file
  solidity/test/normal/Demo.test.ts
Due: solidity-lint-ts

feat: RCOManager Contracts
  solidity/REVERSIBLE_CALL_OPTION_PAYOFF.md
  solidity/REVERSIBLE_CALL_OPTION_PERMISSIONS.md
  solidity/contracts/ActivePool.sol
  solidity/contracts/ReversibleCallOptionManager.sol
  solidity/contracts/TroveManager.sol
Due: none

feat: Tests added.
  solidity/contracts/ReversibleCallOptionManager.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IActivePool.sol
  solidity/contracts/interfaces/ITroveManager.sol
  solidity/deploy/18_deploy_reversible_call_option_manager.ts
  solidity/deploy/25_set_active_pool_addresses.ts
  solidity/deploy/28_set_trove_manager_addresses.ts
  solidity/helpers/deploy-helpers.ts
  solidity/test/helpers/context.ts
  solidity/test/helpers/interfaces.ts
  solidity/test/normal/ReversibleCallOptionManager.test.ts
Due: solidity-lint-ts

feat: Exercise and Terminate Tests
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/token/IMUSD.sol
  solidity/contracts/token/MUSD.sol
  solidity/contracts/token/TokenDeployer.sol
  solidity/deploy/06_deploy_musd.ts
  solidity/deploy/28_set_trove_manager_addresses.ts
  solidity/test/normal/ReversibleCallOptionManager.test.ts
Due: solidity-lint-ts

fix: setAddress unauthorized
  solidity/deploy/34_set_reversible_call_option_manager_addresses.ts
  solidity/deploy/35_set_borrower_operations_signatures_addresses.ts
  solidity/test/normal/ReversibleCallOptionManager.test.ts
Due: solidity-lint-ts

Contracts deploy
  solidity/.openzeppelin/sepolia.json
  solidity/.openzeppelin/unknown-31611.json
  solidity/.openzeppelin/unknown-31612.json
  solidity/REVERSIBLE_CALL_OPTION_PERMISSIONS.md
  solidity/SCALE_TEST_ADDRESSES.md
  solidity/artifacts/deployments/matsnet/ActivePool.json
  solidity/artifacts/deployments/matsnet/BorrowerOperations.json
  solidity/artifacts/deployments/matsnet/BorrowerOperationsSignatures.json
  solidity/artifacts/deployments/matsnet/CollSurplusPool.json
  solidity/artifacts/deployments/matsnet/DefaultPool.json
  solidity/artifacts/deployments/matsnet/GasPool.json
  solidity/artifacts/deployments/matsnet/GovernableVariables.json
  solidity/artifacts/deployments/matsnet/HintHelpers.json
  solidity/artifacts/deployments/matsnet/InterestRateManager.json
  solidity/artifacts/deployments/matsnet/MUSD.json
  solidity/artifacts/deployments/matsnet/MockAggregator.json
  solidity/artifacts/deployments/matsnet/PCV.json
  solidity/artifacts/deployments/matsnet/PriceFeed.json
  solidity/artifacts/deployments/matsnet/ReversibleCallOptionManager.json
  solidity/artifacts/deployments/matsnet/SortedTroves.json
  solidity/artifacts/deployments/matsnet/TokenDeployer.json
  solidity/artifacts/deployments/matsnet/TroveManager.json
  solidity/artifacts/deployments/matsnet/solcInputs/f6f3aac601ef5369d981076973138f4c.json
  solidity/contracts/token/TokenDeployer.sol
  solidity/deploy/06_deploy_musd.ts
  solidity/deploy/07_deploy_mock_aggregator.ts
  solidity/helpers/deploy-helpers.ts
Due: solidity-lint-ts, solidity-lint-config

feat: deploy on spectrum
  API_KEYS_SETUP.md
  DEPLOYMENT_CHECKLIST.md
  SPECTRUM_DEPLOYMENT.md
  dapp/.env.example
  payment-service/dev.sqlite
  verify-config.js
Due: root-lint

feat: MUSD payment integration for Encode Mezo Hackathon
  .kiro/specs/encode-hack.md
  BOAR_DEPLOYMENT.md
  DEPLOYMENT_ARCHITECTURE.md
  DEPLOYMENT_CHECKLIST.md
  DEPLOYMENT_INDEX.md
  DEPLOYMENT_QUICK_REFERENCE.md
  DEPLOYMENT_RESOLUTION.md
  DEPLOYMENT_SUMMARY.md
  DEPLOY_NOW_CHECKLIST.md
  HACKATHON_DEPLOYMENT_PLAN.md
  HACKATHON_SUBMISSION.md
  README.md
  RPC_PROVIDER_COMPARISON.md
  TROUBLESHOOTING.md
  VERCEL_DEPLOYMENT.md
  payment-service/dev.sqlite
  payment-service/src/services/onramp.service.ts
Due: root-lint

feat: MUSD payment integration for Encode Mezo Hackathon
  DEPLOY_QUICK_START.md
  RAILWAY_WEB_DEPLOYMENT.md
Due: root-lint

feat: neon db mcp added
  .kiro/settings/mcp.json
  DEPLOY_NOW_CHECKLIST.md
Due: root-lint

docs: move markdown docs into documentation folder
  .kiro/settings/mcp.json
  documentation/API_KEYS_SETUP.md
  documentation/BOAR_DEPLOYMENT.md
  documentation/CLAUDE.md
  documentation/DEPLOYMENT_ARCHITECTURE.md
  documentation/DEPLOYMENT_CHECKLIST.md
  documentation/DEPLOYMENT_INDEX.md
  documentation/DEPLOYMENT_QUICK_REFERENCE.md
  documentation/DEPLOYMENT_RESOLUTION.md
  documentation/DEPLOYMENT_SUMMARY.md
  documentation/DEPLOY_NOW_CHECKLIST.md
  documentation/DEPLOY_QUICK_START.md
  documentation/HACKATHON_DEPLOYMENT_PLAN.md
  documentation/HACKATHON_SUBMISSION.md
  documentation/IMPLEMENTATION_STATUS.md
  documentation/INTEGRATION_SUMMARY.md
  documentation/MEZO_PASSPORT_INTEGRATION_COMPLETE.md
  documentation/MEZO_PASSPORT_SETUP.md
  documentation/QUICK_START.md
  documentation/RAILWAY_WEB_DEPLOYMENT.md
  documentation/RPC_PROVIDER_COMPARISON.md
  documentation/SPECTRUM_DEPLOYMENT.md
  documentation/TROUBLESHOOTING.md
  documentation/VERCEL_DEPLOYMENT.md
Due: root-lint

fix: using --legacy-peer-deps due to vercel error, resolve fully later
  .npmrc
  package-lock.json
  payment-service/dev.sqlite
Due: root-lint

fix: typescript syntax fix by Kiro
  dapp/src/hooks/useSendMUSD.ts
  dapp/src/hooks/useWalletInfo.ts
Due: root-lint, dapp-lint-eslint

fix: convert btcBalance to Number line 25
  dapp/src/hooks/useWalletInfo.ts
Due: root-lint, dapp-lint-eslint

docs: slide deck v1 added in markdown and pdf formats
  musd-slides.md
  musd-slides.pdf
Due: root-lint

docs: update readme
  README.md
  payment-service/dev.sqlite
Due: root-lint

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-eslint: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
