Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      - id: solidity-slither
        name: "run slither"
        entry: /usr/bin/env bash -c "cd solidity && slither --hardhat-ignore-compile ."
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Runs Slither static analysis on Solidity files"
      # dApp
      - id: dapp-lint-eslint
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Added docs to PCV contract functions
  solidity/contracts/PCV.sol
Due: none

Update architecture and rebalancing docs
  docs/README.md
  docs/rebalancing.md
Due: root-lint

Added non-reentrant modifiers to PCV distribute* functions
  solidity/contracts/PCV.sol
Due: none

Adjust PCV function modifiers
  solidity/contracts/PCV.sol
Due: none

Move reentrancy guard init to reinitializer
  solidity/contracts/PCV.sol
Due: none

Removed fake PCVv2 upgradeability test
  solidity/contracts/tests/upgrades/PCVv2.sol
  solidity/test/upgrade/upgrade-proxy.ts
Due: solidity-lint-ts

Use forceApprove in distributeMUSD
  solidity/contracts/PCV.sol
Due: none

Make it clear BTC fees in PCV are not split
  docs/README.md
  solidity/contracts/PCV.sol
Due: root-lint

Upgrade deploy script for BorrowerOperationsSignatures
  solidity/deploy/35_upgrade_borrower_operations_signatures.ts
Due: solidity-lint-ts

Clarify bootstrap loan repayment in docs
  docs/README.md
Due: root-lint

Testnet v1.1.0 BorrowerOperations deployment artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet/BorrowerOperations.json
Due: solidity-lint-config

Testnet v1.1.0 BorrowerOperationsSignatures deployment artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet/BorrowerOperationsSignatures.json
Due: solidity-lint-config

Testnet v1.1.0 TroveManager deployment artifacts
  solidity/artifacts/deployments/matsnet/TroveManager.json
Due: solidity-lint-config

Testnet v1.1.0 PCV deployment artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet/PCV.json
Due: solidity-lint-config

Mainnet v1.1.0 PCV deployment artifacts
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/PCV.json
Due: solidity-lint-config

Mainnet v1.1.0 BorrowerOperationsSignatures deployment artifacts
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/BorrowerOperationsSignatures.json
Due: solidity-lint-config

Mainnet v1.1.0 BorrowerOperations deployment artifacts
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/BorrowerOperations.json
Due: solidity-lint-config

Mainnet v1.1.0 TroveManager deployment artifacts
  solidity/artifacts/deployments/mainnet/TroveManager.json
Due: solidity-lint-config

Testnet v1.1.0 permissioned distribution PCV deployment artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet/PCV.json
Due: solidity-lint-config

Mainnet v1.1.0 permissioned distribution PCV deployment artifacts
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/PCV.json
Due: solidity-lint-config

Testnet v1.1.0 permissionless distribution PCV deployment artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet/PCV.json
Due: solidity-lint-config

Mainnet v1.1.0 permissionless distribution PCV deployment artifacts
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/PCV.json
Due: solidity-lint-config

Version bump to 1.1.0
  solidity/artifacts/package.json
  solidity/package.json
Due: solidity-lint-config

Bumping hardhat-toolbox to meet new APIv2 etherscan reqs
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Adding hardhat support for Base and Base Sepolia
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Making a framework for noop contracts
  solidity/deploy/02_deploy_interest_rate_manager.ts
  solidity/deploy/03_deploy_borrower_operations.ts
  solidity/deploy/04_deploy_trove_manager.ts
  solidity/deploy/05_deploy_stability_pool.ts
  solidity/helpers/constants.ts
Due: solidity-lint-ts

Linting only
  solidity/deploy/02_deploy_interest_rate_manager.ts
  solidity/hardhat.config.ts
  solidity/helpers/constants.ts
Due: solidity-lint-ts

Leveraging hardhat tags["noop"] config settings to deploy Noop contract
  solidity/deploy/02_deploy_interest_rate_manager.ts
  solidity/deploy/03_deploy_borrower_operations.ts
  solidity/deploy/04_deploy_trove_manager.ts
  solidity/deploy/05_deploy_stability_pool.ts
  solidity/hardhat.config.ts
  solidity/helpers/constants.ts
  solidity/helpers/deploy-helpers.ts
Due: solidity-lint-ts

Linting only
  solidity/helpers/deploy-helpers.ts
Due: solidity-lint-ts

Fix deterministic TokenDeployer deployment across chains
  solidity/deploy/01_deploy_token_deployer.ts
  solidity/deploy/constants/token-deployer.ts
  solidity/hardhat.config.ts
  solidity/helpers/erc2470/deploy.ts
Due: solidity-lint-ts

Fix TokenDeployer deployment constants file location
  solidity/deploy/01_deploy_token_deployer.ts
  solidity/helpers/constants/token-deployer.ts
Due: solidity-lint-ts

Use noop tag for bsc chain
  solidity/hardhat.config.ts
Due: solidity-lint-ts
