Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-eslint:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

docs: badge typo
  README.md
Due: root-lint

Removing debt restriction on PCV fee split percentage
  solidity/contracts/PCV.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Refactor PCV fee recipient to use IMUSDSavingsRate interface
  solidity/contracts/PCV.sol
  solidity/contracts/interfaces/IPCV.sol
Due: none

Adjusting tests to use IMUSDSavingsRateVault interface
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IMUSDSavingsRate.sol
  solidity/contracts/tests/MUSDSavingsRateMock.sol
  solidity/deploy/34_upgrade_pcv.ts
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Linting only
  solidity/contracts/PCV.sol
Due: none

Modifying withdrawMUSD function without accounting for MUSD protocol debt
  solidity/contracts/PCV.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Tests linting only
  solidity/deploy/34_upgrade_pcv.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Reverting musdSavingsRate back to feeRecipient
  solidity/contracts/PCV.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Docs update
  docs/README.md
Due: root-lint

Slithering and linting Mock contract
  solidity/contracts/tests/MUSDSavingsRateMock.sol
Due: none

Clarification in the docs around bootstrap loan repayment
  docs/README.md
Due: root-lint

Adding simple fork based verification test for PCV upgrade
  .github/workflows/solidity.yml
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/upgrade/PCV.upgrades.test.ts
Due: root-lint, solidity-lint-ts, solidity-lint-config

Linting only
  solidity/test/upgrade/PCV.upgrades.test.ts
Due: solidity-lint-ts

Aligning interface setFeeRecipient param name with PCV
  solidity/contracts/interfaces/IPCV.sol
Due: none

Better naming and cleanup of unnecessary address casting
  solidity/contracts/PCV.sol
Due: none

Removing confusing comment
  solidity/contracts/PCV.sol
Due: none

Clean up setFeeSplit() unit tests
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Minor MUSD documentation updates
  docs/README.md
Due: root-lint

Upgrade test for BorrowerOperations
  solidity/test/upgrade/BorrowerOperations.upgrades.test.ts
Due: solidity-lint-ts

Upgrade test for BorrowerOperationsSignatures
  solidity/test/upgrade/BorrowerOperationsSignatures.upgrades.test.ts
Due: solidity-lint-ts

Upgrade test for TroveManager
  solidity/test/upgrade/BorrowerOperationsSignatures.upgrades.test.ts
  solidity/test/upgrade/TroveManager.upgrades.test.ts
Due: solidity-lint-ts

Reorder fields in BorrowerOperationsSignatures
  solidity/contracts/BorrowerOperationsSignatures.sol
Due: none

Add BTC yield converter integration to PCV
  solidity/contracts/PCV.sol
  solidity/contracts/interfaces/IBTCYieldConverter.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/contracts/tests/BTCYieldConverterMock.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Slithering and linting
  solidity/contracts/tests/BTCYieldConverterMock.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Renaming BTCYieldConverter to BTCYieldReceiver
  solidity/contracts/PCV.sol
  solidity/contracts/interfaces/IBTCYieldReceiver.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/contracts/tests/BTCYieldReceiverMock.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Linting only
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Returning as no-op when there is not enough tokens for distribution
  solidity/contracts/PCV.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Add docs fro IBTCYieldReceiver interface
  solidity/contracts/interfaces/IBTCYieldReceiver.sol
Due: none

Adding docs for BTC distribution
  docs/README.md
Due: root-lint

Renaming withdrawCollateral to withdrawBTC to align with the current naming convention
  solidity/contracts/PCV.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Renaming BTCYieldReceiver to BTCFeeRecipient
  docs/README.md
  solidity/contracts/PCV.sol
  solidity/contracts/interfaces/IBTCFeeRecipient.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/contracts/tests/BTCFeeRecipientMock.sol
  solidity/test/normal/PCV.test.ts
Due: root-lint, solidity-lint-ts

withdrawCallateral->withdrawBTC in README
  docs/rebalancing.md
Due: root-lint

Removing access control for distributeMUSD and distributeBTC functions
  solidity/contracts/PCV.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Keep all PCV fund flow functions next to each other
  solidity/contracts/PCV.sol
Due: none

Drop batch functions to allowlist PCV recipients
  solidity/contracts/PCV.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Always distribute entire MUSD balance from PCV
  solidity/contracts/PCV.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Send tokens to recipient when PCV withdraws from StabilityPool
  solidity/contracts/PCV.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Deposit to StabilityPool via PCV with external tokens
  solidity/contracts/PCV.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Let anyone call PCV.depositToStabilityPool
  solidity/contracts/PCV.sol
  solidity/test/normal/AccessControl.test.ts
Due: solidity-lint-ts

Removed PCV withdrawBTC and withdrawBTC functions
  solidity/contracts/PCV.sol
  solidity/contracts/echidna/EchidnaTest.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/helpers/functions.ts
  solidity/test/normal/AccessControl.test.ts
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-eslint: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
