Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-eslint:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

TokenDeployer deployment artifact for BSC chain
  solidity/artifacts/deployments/bsc/TokenDeployer.json
Due: solidity-lint-config

Adding deployment artifacts for Base Sepolia
  solidity/artifacts/deployments/base_sepolia/BorrowerOperationsNoOp.json
  solidity/artifacts/deployments/base_sepolia/InterestRateManagerNoOp.json
  solidity/artifacts/deployments/base_sepolia/StabilityPoolNoOp.json
  solidity/artifacts/deployments/base_sepolia/TokenDeployer.json
  solidity/artifacts/deployments/base_sepolia/TroveManagerNoOp.json
Due: solidity-lint-config

Adding chain ids for Base and BaseSepolia
  solidity/artifacts/deployments/base/.chainId
  solidity/artifacts/deployments/base_sepolia/.chainId
Due: none

Adding deployment artifacts for Base
  solidity/artifacts/deployments/base/BorrowerOperationsNoOp.json
  solidity/artifacts/deployments/base/InterestRateManagerNoOp.json
  solidity/artifacts/deployments/base/StabilityPoolNoOp.json
  solidity/artifacts/deployments/base/TokenDeployer.json
  solidity/artifacts/deployments/base/TroveManagerNoOp.json
Due: solidity-lint-config

Add ERC20 collateral support for mUSD protocol
  docs/CLAUDE-design.md
  docs/CLAUDE-erc20-plan.md
  solidity/contracts/erc20/ActivePoolERC20.sol
  solidity/contracts/erc20/CollSurplusPoolERC20.sol
  solidity/contracts/erc20/DefaultPoolERC20.sol
  solidity/contracts/erc20/SendCollateralERC20.sol
  solidity/contracts/interfaces/erc20/IActivePoolERC20.sol
  solidity/contracts/interfaces/erc20/ICollSurplusPoolERC20.sol
  solidity/contracts/interfaces/erc20/IDefaultPoolERC20.sol
  solidity/contracts/interfaces/erc20/IPoolERC20.sol
  solidity/contracts/test/MockContract.sol
  solidity/contracts/test/MockERC20.sol
  solidity/test/erc20/ActivePoolERC20.test.ts
Due: root-lint, solidity-lint-ts

Add design documentation for ERC20 collateral implementation
  docs/CLAUDE-design.md
  docs/CLAUDE-erc20-plan.md
Due: root-lint

Add BorrowerOperationsERC20 skeleton and implementation documentation
  docs/ERC20-implementation-status.md
  solidity/contracts/erc20/BorrowerOperationsERC20.sol
  solidity/contracts/erc20/README.md
  solidity/contracts/interfaces/erc20/IBorrowerOperationsERC20.sol
  solidity/contracts/interfaces/erc20/ICollSurplusPoolERC20.sol
  solidity/test/erc20/ActivePoolERC20.test.ts
Due: root-lint, solidity-lint-ts

Complete BorrowerOperationsERC20 internal functions and helpers
  solidity/contracts/erc20/BorrowerOperationsERC20.sol
Due: none

Add TroveManagerERC20 skeleton with view functions
  solidity/contracts/erc20/TroveManagerERC20.sol
Due: none

Add StabilityPoolERC20 skeleton with view functions
  solidity/contracts/erc20/StabilityPoolERC20.sol
  solidity/contracts/interfaces/erc20/IStabilityPoolERC20.sol
Due: none

Add PCVERC20 with governance and distribution functions
  solidity/contracts/erc20/PCVERC20.sol
  solidity/contracts/interfaces/ICollateralFeeRecipient.sol
  solidity/contracts/interfaces/erc20/IPCVERC20.sol
Due: none

Update ERC20 implementation status documentation
  docs/ERC20-implementation-status.md
Due: root-lint

Complete StabilityPoolERC20 implementation
  solidity/contracts/erc20/StabilityPoolERC20.sol
  solidity/test/fork/RedemptionHintPrice.fork.test.ts
Due: solidity-lint-ts

Implement TroveManagerERC20 liquidation functions
  solidity/contracts/erc20/TroveManagerERC20.sol
Due: none

Complete TroveManagerERC20 redemption and state management
  solidity/contracts/erc20/TroveManagerERC20.sol
Due: none

Complete PCVERC20 bootstrap loan implementation
  solidity/contracts/erc20/PCVERC20.sol
  solidity/test/fork/RedemptionHintPrice.fork.test.ts
Due: solidity-lint-ts

Update status: ERC20 implementation 100% complete
  docs/ERC20-implementation-status.md
Due: root-lint

Add comprehensive BorrowerOperationsERC20 unit tests
  solidity/test/erc20/BorrowerOperationsERC20.test.ts
Due: solidity-lint-ts

Add ERC20 integration tests (deployment tests passing)
  solidity/test/erc20/Integration.test.ts
Due: solidity-lint-ts

Add comprehensive ERC20 implementation README
  docs/erc20/README.md
Due: root-lint

Add .worktrees/ to gitignore
  .gitignore
  solidity/contracts/dependencies/LiquityBaseERC20.sol
  solidity/contracts/erc20/ActivePoolERC20.sol
  solidity/contracts/erc20/BorrowerOperationsERC20.sol
  solidity/contracts/erc20/CollSurplusPoolERC20.sol
  solidity/contracts/erc20/DefaultPoolERC20.sol
  solidity/contracts/erc20/PCVERC20.sol
  solidity/contracts/erc20/SendCollateralERC20.sol
  solidity/contracts/erc20/StabilityPoolERC20.sol
  solidity/contracts/erc20/TroveManagerERC20.sol
  solidity/contracts/interfaces/ICollateralFeeRecipient.sol
  solidity/contracts/interfaces/erc20/IActivePoolERC20.sol
  solidity/contracts/interfaces/erc20/IBorrowerOperationsERC20.sol
  solidity/contracts/interfaces/erc20/IBorrowerOperationsPCV.sol
  solidity/contracts/interfaces/erc20/ICollSurplusPoolERC20.sol
  solidity/contracts/interfaces/erc20/IDefaultPoolERC20.sol
  solidity/contracts/interfaces/erc20/IPCVERC20.sol
  solidity/contracts/interfaces/erc20/IPoolERC20.sol
  solidity/contracts/interfaces/erc20/IStabilityPoolERC20.sol
  solidity/contracts/interfaces/erc20/ITroveManagerERC20.sol
  solidity/contracts/test/MockERC20.sol
  solidity/test/erc20/ActivePoolERC20.test.ts
  solidity/test/erc20/BorrowerOperationsERC20.test.ts
  solidity/test/erc20/Integration.test.ts
Due: root-lint, solidity-lint-ts

Fix ERC20 contract bugs and improve test coverage
  solidity/contracts/erc20/BorrowerOperationsERC20.sol
  solidity/contracts/erc20/CollSurplusPoolERC20.sol
  solidity/contracts/erc20/PCVERC20.sol
  solidity/contracts/erc20/StabilityPoolERC20.sol
  solidity/contracts/interfaces/erc20/IBorrowerOperationsERC20.sol
  solidity/contracts/interfaces/erc20/ICollSurplusPoolERC20.sol
  solidity/contracts/interfaces/erc20/IPCVERC20.sol
  solidity/contracts/interfaces/erc20/IPoolERC20.sol
  solidity/hardhat.config.ts
  solidity/test/erc20/ActivePoolERC20.test.ts
  solidity/test/erc20/BorrowerOperationsERC20.test.ts
  solidity/test/erc20/Integration.test.ts
Due: solidity-lint-ts

Add ERC20 collateral support design document
  docs/plans/2026-02-26-erc20-collateral-design.md
Due: root-lint

Add ERC20 collateral implementation plan
  docs/plans/2026-02-26-erc20-collateral-implementation.md
Due: root-lint

feat: add MockERC20 test token for ERC20 collateral tests
  solidity/contracts/test/MockERC20.sol
  solidity/test/erc20/MockERC20.test.ts
Due: solidity-lint-ts

feat: add SendCollateralERC20 base contract with pull/send pattern
  solidity/contracts/dependencies/SendCollateralERC20.sol
  solidity/contracts/test/SendCollateralERC20Tester.sol
  solidity/test/erc20/SendCollateralERC20.test.ts
Due: solidity-lint-ts

feat: add IPoolERC20 and IActivePoolERC20 interfaces
  solidity/contracts/interfaces/erc20/IActivePoolERC20.sol
  solidity/contracts/interfaces/erc20/IPoolERC20.sol
Due: none

feat: implement ActivePoolERC20 contract for ERC20 collateral
  solidity/contracts/dependencies/SendCollateralERC20.sol
  solidity/contracts/erc20/ActivePoolERC20.sol
  solidity/contracts/interfaces/erc20/IPoolERC20.sol
  solidity/contracts/test/MockERC20.sol
  solidity/contracts/test/SendCollateralERC20Tester.sol
  solidity/test/erc20/ActivePoolERC20.test.ts
  solidity/test/erc20/MockERC20.test.ts
  solidity/test/erc20/SendCollateralERC20.test.ts
Due: solidity-lint-ts

feat: implement DefaultPoolERC20 contract for ERC20 collateral
  solidity/contracts/erc20/ActivePoolERC20.sol
  solidity/contracts/erc20/DefaultPoolERC20.sol
  solidity/contracts/interfaces/erc20/IDefaultPoolERC20.sol
  solidity/test/erc20/ActivePoolERC20.test.ts
  solidity/test/erc20/DefaultPoolERC20.test.ts
Due: solidity-lint-ts

feat: implement CollSurplusPoolERC20 contract for ERC20 collateral
  solidity/contracts/erc20/CollSurplusPoolERC20.sol
  solidity/contracts/interfaces/erc20/ICollSurplusPoolERC20.sol
  solidity/test/erc20/CollSurplusPoolERC20.test.ts
Due: solidity-lint-ts

feat: implement StabilityPoolERC20 contract for ERC20 collateral
  solidity/contracts/erc20/StabilityPoolERC20.sol
  solidity/contracts/interfaces/erc20/IStabilityPoolERC20.sol
  solidity/contracts/test/MockERC20.sol
  solidity/test/erc20/StabilityPoolERC20.test.ts
Due: solidity-lint-ts

feat: implement TroveManagerERC20 contract for ERC20 collateral
  solidity/contracts/erc20/TroveManagerERC20.sol
  solidity/contracts/interfaces/erc20/ITroveManagerERC20.sol
  solidity/contracts/test/MockERC20.sol
  solidity/test/erc20/TroveManagerERC20.test.ts
Due: solidity-lint-ts

Add PCVERC20 contract for ERC20 collateral fee management
  solidity/contracts/erc20/PCVERC20.sol
  solidity/contracts/interfaces/erc20/IBorrowerOperationsPCV.sol
  solidity/contracts/interfaces/erc20/IPCVERC20.sol
  solidity/test/erc20/PCVERC20.test.ts
Due: solidity-lint-ts

feat: add BorrowerOperationsERC20 and comprehensive integration tests
  solidity/contracts/erc20/BorrowerOperationsERC20.sol
  solidity/contracts/erc20/StabilityPoolERC20.sol
  solidity/contracts/erc20/TroveManagerERC20.sol
  solidity/contracts/interfaces/erc20/IBorrowerOperationsERC20.sol
  solidity/contracts/test/MockERC20.sol
  solidity/test/erc20/BorrowerOperationsERC20.test.ts
  solidity/test/erc20/Integration.test.ts
Due: solidity-lint-ts

fix: correct function ordering in IPCVERC20 interface
  solidity/contracts/interfaces/erc20/IPCVERC20.sol
Due: none

Add presentation and demo test from hackathon branch
  final-presentation.md
  solidity/test/normal/Demo.test.ts
Due: root-lint, solidity-lint-ts

Update Fee Economics slide for PCV changes
  final-presentation.md
Due: root-lint

Move fees to a separate slide
  final-presentation.md
  solidity/test/normal/Demo.test.ts
Due: root-lint, solidity-lint-ts

BTC distribution updates
  solidity/contracts/PCV.sol
  solidity/contracts/interfaces/IPCV.sol
  solidity/test/normal/PCV.test.ts
Due: solidity-lint-ts

Use stabilityPoolBTC to calculate collateral change
  solidity/contracts/PCV.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-eslint: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
