Repository mezo-org/musd: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config, dapp-lint-eslint, dapp-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      - id: solidity-slither
        name: "run slither"
        entry: /usr/bin/env bash -c "cd solidity && slither --hardhat-ignore-compile ."
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Runs Slither static analysis on Solidity files"
      # dApp
      - id: dapp-lint-eslint
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:eslint"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Move solhint-disable comment back
  solidity/contracts/TroveManager.sol
Due: none

Fix remaining solhint errors
  solidity/contracts/BorrowerOperations.sol
  solidity/contracts/token/MUSD.sol
Due: none

Remove slither from pre-commit hook
  .pre-commit-config.yaml
Due: root-lint

Expose the ActivePool address to borrower operations signatures
  solidity/contracts/BorrowerOperationsSignatures.sol
  solidity/contracts/interfaces/IBorrowerOperations.sol
  solidity/contracts/interfaces/IBorrowerOperationsSignatures.sol
  solidity/deploy/18_set_borrower_operations_signatures_addresses.ts
Due: solidity-lint-ts

Prevent the active pool from being a signature recipient
  solidity/contracts/BorrowerOperationsSignatures.sol
Due: none

Move the borrower operations signatures test into their own file
  solidity/test/normal/BorrowerOperations.test.ts
  solidity/test/normal/BorrowerOperationsSignatures.test.ts
Due: solidity-lint-ts

Add unit tests to make sure the active pool is not a recipient
  solidity/test/normal/BorrowerOperationsSignatures.test.ts
Due: solidity-lint-ts

RFC-1: Bridging MUSD to Ethereum
  docs/rfc/rfc-1.md
Due: root-lint

RFC-1: Added diagrams for bridging operations
  docs/rfc/rfc-1.md
Due: root-lint

redeemCollateral(): redeems as much as possible if a partial redemption would put a trove below minimum debt
  solidity/test/normal/TroveManager.test.ts
Due: solidity-lint-ts

redeemCollateral(): reverts if no trove can be partially redeemed against without going below the minimum net debt
  solidity/test/normal/TroveManager.test.ts
Due: solidity-lint-ts

Add the default pool, coll surplus pool, and stab pool to the no-recipient list
  solidity/contracts/BorrowerOperationsSignatures.sol
  solidity/contracts/interfaces/IBorrowerOperationsSignatures.sol
  solidity/deploy/18_set_borrower_operations_signatures_addresses.ts
Due: solidity-lint-ts

Verify that setting the recipient to any pool revertss
  solidity/test/normal/BorrowerOperationsSignatures.test.ts
Due: solidity-lint-ts

Add more documentation around redemptions and redemption hints
  docs/README.md
Due: root-lint

Add a check that truncatedAmount > 0
  docs/README.md
Due: root-lint

Remove text about blocking accidental transfers from README
  docs/README.md
Due: root-lint

Foo test deployment
  solidity/.openzeppelin/unknown-31612.json
  solidity/artifacts/deployments/mainnet/Foo.json
  solidity/contracts/Foo.sol
  solidity/deploy/00_deploy_foo.ts
Due: solidity-lint-ts, solidity-lint-config

Deploy MUSD to Sepolia along with NoOp contracts for system contracts
  solidity/artifacts/deployments/sepolia/.chainId
  solidity/artifacts/deployments/sepolia/BorrowerOperationsNoOp.json
  solidity/artifacts/deployments/sepolia/MUSD.json
  solidity/artifacts/deployments/sepolia/StabilityPoolNoOp.json
  solidity/artifacts/deployments/sepolia/TroveManagerNoOp.json
  solidity/artifacts/deployments/sepolia/solcInputs/42e46a63bb50ad909ed33aa1ac5062f2.json
  solidity/artifacts/deployments/sepolia/solcInputs/ce3c09909ef41433bcd31b065c09b77f.json
  solidity/contracts/NoOp.sol
  solidity/hardhat.config.ts
Due: solidity-lint-ts, solidity-lint-config

Fix formatting and linting
  solidity/artifacts/deployments/sepolia/InterestRateManagerNoOp.json
  solidity/artifacts/deployments/sepolia/TokenDeployer.json
  solidity/contracts/NoOp.sol
Due: solidity-lint-config

Drop min net debt and gas comp
  solidity/contracts/BorrowerOperations.sol
  solidity/contracts/dependencies/LiquityBase.sol
Due: none

Fix some unit tests
  solidity/test/normal/BorrowerOperations.test.ts
Due: solidity-lint-ts

Draft Microloans RFC
  docs/rfc-microloans.md
Due: root-lint

Deploy MUSD without token deployer when on fuzz testing network
  solidity/deploy/01_deploy_token_deployer.ts
  solidity/deploy/06_deploy_musd.ts
Due: solidity-lint-ts

Don't call initialize if we've already deployed MUSDTester
  solidity/deploy/06_deploy_musd.ts
Due: solidity-lint-ts

Use MockAggregator on fuzz testing network
  solidity/deploy/07_deploy_mock_aggregator.ts
  solidity/helpers/deploy-helpers.ts
Due: solidity-lint-ts

Deployment artifacts for modified fuzz testing contracts
  solidity/.openzeppelin/unknown-31611.json
  solidity/artifacts/deployments/matsnet_fuzz/ActivePool.json
  solidity/artifacts/deployments/matsnet_fuzz/BorrowerOperations.json
  solidity/artifacts/deployments/matsnet_fuzz/BorrowerOperationsSignatures.json
  solidity/artifacts/deployments/matsnet_fuzz/DefaultPool.json
  solidity/artifacts/deployments/matsnet_fuzz/GasPool.json
  solidity/artifacts/deployments/matsnet_fuzz/GovernableVariables.json
  solidity/artifacts/deployments/matsnet_fuzz/HintHelpers.json
  solidity/artifacts/deployments/matsnet_fuzz/InterestRateManagerTester.json
  solidity/artifacts/deployments/matsnet_fuzz/MUSD.json
  solidity/artifacts/deployments/matsnet_fuzz/MUSDTester.json
  solidity/artifacts/deployments/matsnet_fuzz/MockAggregator.json
  solidity/artifacts/deployments/matsnet_fuzz/MockERC20.json
  solidity/artifacts/deployments/matsnet_fuzz/PCV.json
  solidity/artifacts/deployments/matsnet_fuzz/PriceFeed.json
  solidity/artifacts/deployments/matsnet_fuzz/SortedTroves.json
  solidity/artifacts/deployments/matsnet_fuzz/StabilityPool.json
  solidity/artifacts/deployments/matsnet_fuzz/TroveManager.json
  solidity/artifacts/deployments/matsnet_fuzz/solcInputs/41c9b42aa7fe96e59239ae264b0ca15b.json
  solidity/artifacts/deployments/matsnet_fuzz/solcInputs/ce3c09909ef41433bcd31b065c09b77f.json
Due: solidity-lint-config

Scale testing changes to work with smaller amounts
  solidity/scale-testing/account-state-matsnet_fuzz.json
  solidity/scripts/scale-testing/get-contracts.ts
  solidity/scripts/scale-testing/scenarios/increase-debt.ts
  solidity/scripts/scale-testing/scenarios/open-troves.ts
Due: solidity-lint-ts, solidity-lint-config

Run open troves, add collateral, and increase debt scenarios (note increase debt needs to be run again with smaller amounts)
  solidity/scale-testing/results/add-collateral-test-2025-07-23T16-29-44.242Z.json
  solidity/scale-testing/results/increase-debt-test-2025-07-23T16-30-20.547Z.json
  solidity/scale-testing/results/open-troves-test-2025-07-23T15-29-08.195Z.json
  solidity/scale-testing/results/open-troves-test-2025-07-23T15-30-54.457Z.json
Due: solidity-lint-config

Re-run increase debt with smaller numbers to account for different loan size
  solidity/scale-testing/account-state-matsnet_fuzz.json
  solidity/scale-testing/results/increase-debt-test-2025-07-23T16-32-17.891Z.json
Due: solidity-lint-config

Get MUSDTester for updating MUSD balances
  solidity/scripts/scale-testing/scenarios/increase-debt.ts
Due: solidity-lint-ts

Run repay-musd scenario with smaller amounts
  solidity/scale-testing/account-state-matsnet_fuzz.json
  solidity/scale-testing/results/repay-musd-test-2025-07-23T16-35-28.422Z.json
  solidity/scripts/scale-testing/scenarios/repay-musd.ts
Due: solidity-lint-ts, solidity-lint-config

Tested liquidations
  solidity/scale-testing/account-state-matsnet_fuzz.json
  solidity/scale-testing/results/liquidate-troves-test-2025-07-23T16-41-21.068Z.json
  solidity/scale-testing/results/withdraw-collateral-test-2025-07-23T16-36-44.297Z.json
Due: solidity-lint-config

Initial draft of proposed solution
  docs/rfc-microloans.md
Due: root-lint

Additional draft
  docs/rfc-microloans.md
Due: root-lint

Add more info on liquidations and catastrophic scenarios
  docs/rfc-microloans.md
Due: root-lint

Remove section on interest rate drift
  docs/rfc-microloans.md
Due: root-lint

Capitalize "MUSD"
  docs/rfc-microloans.md
Due: root-lint

Clarify flow of collateral and minimum amounts
  docs/rfc-microloans.md
Due: root-lint

Add section on loan adjustments
  docs/rfc-microloans.md
Due: root-lint

Add rfc template
  docs/rfc-1.adoc
Due: root-lint
